*{
    margin: 0;
    padding: 0px;
}

.logo img{
    width: 150px;
}

.nav-link {
    text-decoration: none !important;
    font-size: 1.7rem !important;
}

.nav-link:hover {
    color: rgb(205, 34, 34) !important;
}

.active {
    color: orangered !important;
}

.maintenance{
    margin: 30px 0px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.maintenance-text {
    margin: auto 0;
    padding-left: 20px;
    max-width: 40%;
}

.maintenance-text,
.maintenance-img {
    flex: 0 0 calc(50% - 1rem);
}

.maintenance-heading{
    font-family: monospace;
    font-size: 50px;
    font-weight: 600;
}
.maintenance-words{
    line-height: 2;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button{
    font-size: 18px;
    border-radius: 15px;
    background-color: #1c559d;
    color: #fff;
    padding: 10px 30px;
    border: none;
}

img{
    width: 100%;
}

.picture-holder{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
}

.box{
    margin: 50px;
    padding: 30px;
}

.boxes{
    display: flex;
    max-width: 75vw;
    margin: 3rem auto;
}
.boxed{
    border-radius: 10px;
    box-shadow: 2.6px 3px 7px 2px lightgray;
    margin: 10px;
    padding: 50px 20px;
    flex: 0 0 calc(25% - 2rem);
}

.boxed h4{
    text-transform: uppercase;
    font-weight: 600;
}
.boxed p{
    font-size: 15px;
}

.picture-holder{
    margin-bottom: 30px;
}
.preventive{
    display:  flex;
    align-items: center;
}
.preventive-text{
    width: 40%;
    margin: auto 40px;
}

.preventive-text p {
    line-height: 2;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.preventive-text .list{
    display: flex;

}
.preventive-text ul li{
    font-size: 23px;
}

.preventive-text .glyphicon{
    color: rgb(17, 17, 129);
}

.services{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li{
    list-style: none;
}


.service-text h2 {
    margin-left: 50px;
    font-size: 3rem;
}

.service-text ul li{
    margin: 20px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.service-text .glyphicon{
    font-size: 32px;
    background-color: #e2e2e2;
    border-radius: 50%;
    padding: 15px;
}

.lube{
    display: flex;
    align-items: center;
}

.lube-text{
    width: 40%;
}
.lube-text .glyphicon{
    color: rgb(17, 17, 129);
}

.lube-text p {
    line-height: 2;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lube-text ul li{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.booking{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    border-bottom: 1px solid #1c1c1c;
}

.booking-text{
    text-transform: uppercase;
    font-size: 15px;
    
}

.booking-text h2{
    font-size: 25px;
    font-weight: 600;
}

.repair{
    margin-top: 60px;
    padding: 50px;
    padding-bottom: 70px;
    background-color: #092f5d;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer{
    background-color: #19539f;
    color: #fff;
    padding: 3rem 0;
}
.footer{
    display: flex;
    justify-content: space-between;
    background-color: #19539f;
    color: #fff;
    margin-top: -2.2rem;
    padding: 40px;
    font-size: 15px;
}

#email{
margin: 20px 0px;
border-radius: 15px;
padding: 10px 15px;
}
.submit{
    margin-top: 0px;
    background-color: #c5162f;
    padding: 10px 35px;
    border: none;
    border-radius: 15px;
}
.foot{
    box-sizing: border-box;
    margin: 20px;
    width: 25%;
}

.newsletter input{
    display: block;
}

.copy{
    text-align: center;
}